.header-section {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;

}

.header-button {
  width: 16px;
  height: 15px;
  background-image: url(.././img/hamburger.svg);
  background-repeat: no-repeat;
  border: none;
}

.header-section--open .header-button {
  background-image: url(../../img/close.svg);
  background-color: none;

}

.header-nav {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: -24px;
  right: -24px;
  padding: 40px 24px;
  text-align: center;
  height: calc(100vh - 90px);
  background-image: linear-gradient(0deg, rgba(254, 252, 247, 0.5) 0%, #FEFCF7 55.94%);
}

.header-section--open .header-nav {
  display: block;
}

.header-nav__list {
  margin: 0;
  padding: 0;
}

.header-nav__item {
  list-style: none;
}

.header-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.header-nav__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
  cursor: pointer;
}

.header-nav__link:active {
  opacity: 0.6;
}

@media only screen and (min-width: 768px) {
  .header-logo__img {
    width: 235px;
  }

  .header-section {
    align-items: center;
    display: flex;
  }

  .header-button {
    display: none;
  }

  .header-nav {
    position: relative;
    z-index: 1;
    display: block;
    flex-direction: column;
    height: 0;
    padding: 0;
  }

  .header-nav__list {
    display: flex;
    margin-top: -19px;
  }

  .header-nav__item {
    align-items: center;

  }

  .header-nav__item:not(:last-child) {
    margin-right: 33px;
    margin-bottom: 0;
  }

  .header-nav__link {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #83888F;
    transition: color 0.5s ease;
  }

  .header-nav__link:hover{
    color: #333D4B;
  }
}
