.header-section {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;

}

.header-button {
  width: 16px;
  height: 15px;
  background-image: url(../../img/hamburger.svg);
  background-repeat: no-repeat;
  border: none;
}

.header-section--open .header-button {
  background-image: url(../../img/close.svg);
  background-color: none;

}

.header-nav {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: -24px;
  right: -24px;
  padding: 40px 24px;
  text-align: center;
  height: calc(100vh - 90px);
  background-image: linear-gradient(0deg, rgba(254, 252, 247, 0.5) 0%, #FEFCF7 55.94%);
}

.header-section--open .header-nav {
  display: block;
}

.header-nav__list {
  margin: 0;
  padding: 0;
}

.header-nav__item {
  list-style: none;
}

.header-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.header-nav__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
  cursor: pointer;
}

.header-nav__link:active {
  opacity: 0.6;
}